# Clerk configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="Add your Clerk publishable key here"
CLERK_SECRET_KEY="Add your Clerk secret key here"

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# Stripe keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=Add your Stripe publishable key here
STRIPE_SECRET_KEY=Add your Stripe secret key here