NEXT_PUBLIC_BASE_URL="Add your base URL here"

# Supabase configuration
NEXT_PUBLIC_SUPABASE_URL="Add your Supabase URL here"
NEXT_PUBLIC_SUPABASE_KEY="Add your Supabase key here"
SUPABASE_SERVICE_ROLE_KEY="Add your Supabase service role key here"

# Clerk configuration
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="Add your Clerk publishable key here"
CLERK_SECRET_KEY="Add your Clerk secret key here"
CLERK_WEBHOOK_SECRET="Add your Clerk webhook secret here"

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# Stripe keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=Add your Stripe publishable key here
STRIPE_SECRET_KEY=Add your Stripe secret key here
STRIPE_WEBHOOK_SECRET=Add your Stripe webhook secret here